<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="asm-static;asm-static/Spring"/>
        <!--
            <dependentAssembly>
                <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
                <codeBase version="1.0.0.0" href="D:\Development\VisualStudio\Spring.NET\bin\net\4.0\release\Spring.Core.dll"/>
            </dependentAssembly>
            -->
    </assemblyBinding>
    </runtime>
</configuration>